.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.rounded-circle {
  --circle: 140px;
  width: var(--circle);
  height: var(--circle);
  display: block;
  background: #9e9e9e;
  margin: 0 auto;
}
.user-details-wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.user-img {
  --box: 500px;
  width: var(--box);
  height: var(--box);
  background: lightgray;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.users-wrapper ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  max-height: 600px;
  overflow: scroll;
  overflow-y: scroll;
  border: 1px solid gray;
}

@media only screen and (max-width: 600px) {
  .users-wrapper ul {
    grid-template-columns: 100%;
    grid-template-rows: 170px;
  }
  .users-wrapper ul li:nth-child(even) {
    background: lightslategray;
  }
  .sample-user-container {
    display: grid;
    grid-template-columns: 25% auto;
    justify-items: start;
    align-items: center;
  }
  .sample-user-container .sample-info {
    text-align: start;
  }
  .sample-user-container .rounded-circle {
    --circle: 80px;
  }
}
